pale-blue = hsl(243, 100%, 93%)
grayish-blue = hsl(229, 7%, 55%)
dark-blue = hsl(228, 56%, 26%)
not-dark-blue = #141f4c
very-dark-blue = hsl(229, 57%, 11%)
white-color = #FFF
black-color = #000
gradient-start = hsl(6, 100%, 80%)
gradient-end = hsl(335, 100%, 65%)

body
    background-image url('../images/bg-mobile.png')
    background-size cover
    box-sizing: border-box
    color white-color
    font-family 'Raleway', sans-serif
    font-size 14px
    margin 0
    padding 0

.container
    align-items: center
    display flex
    flex-direction: column
    height calc(100vh - 50px)
    justify-content center

.main
    background-color dark-blue
    border-radius 10px
    border-top-right-radius 100px
    height 200px
    width 325px
    &-logo
        margin-bottom 30px
        margin-left 40px
        padding-top 40px
    &-buttons
        cursor pointer
        display flex
        &>*
            background-color very-dark-blue
            height 50px
            line-height 60px
            text-align center
            width 50px
            border-radius 10px
    &-file
        margin-left 40px
    &-folder
        margin-left 20px
        margin-right: 20px

.storage
    background-color dark-blue
    border-radius 10px
    height 160px
    margin 20px auto
    width 325px
    &-description
        // padding-bottom 20px
        padding-top 30px
        text-align center
        span
            font-weight 700
    &-use
        background-color not-dark-blue
        border-radius 50px
        height 20px
        margin 0 auto
        margin-top 12px
        position relative
        width 250px
        text-align center
        &::before
            background: linear-gradient(90deg, gradient-start 48%, gradient-end 96%);
            border-radius: 10px
            content ''
            display block
            height 14px
            left 2px
            position relative
            top 3px
            width 190px
        &::after
            background-color white-color
            border-radius 100%
            content: ''
            display block
            height 12px
            left 178px
            position relative
            top -10px
            width: 12px
    &-minmax
        display flex
        font-weight 700
        justify-content space-between
        margin 0 auto
        width 250px

.left
    color grayish-blue
    background-color white-color
    border-radius 10px
    font-weight 700
    height 75px
    line-height 70px
    margin 0 auto
    margin-top 25px
    text-align center
    width 180px
    span
        color black-color
        font-size 37px
        margin-right: 5px

.attribution
    width 100vw
    height 50px
    line-height: 50px
    font-size 12px
    text-align center
    background-color #dddbff
    color grayish-blue
    a
        text-decoration none
        color very-dark-blue
        &:hover
            text-decoration underline

// Responsive desktop

@media screen and (min-width: 1440px)
    body
        background url('../images/bg-desktop.png') bottom no-repeat
        background-size contain
        background-color very-dark-blue

    .container
        flex-direction row
        justify-content space-between
        margin 0 auto
        width 60%
        align-items: baseline

    .main
        margin 0 auto
        position relative
        top 215px

    .storage
        height 143px
        width 490px
        display flex
        flex-direction column
        align-items center
        position relative
        top 235px
        &-description
            display inline-block
            text-align left 
            width 420px
            span
                font-weight 700
        &-use
            width 420px
            &::before
                width 317px
            &::after
                left 305px
        &-minmax
            margin-top 12px
            width 420px

    .left
        height 70px
        line-height 65px
        position relative
        top -190px
        left 130px
        width 164px
        &::before
            border-top 25px solid transparent
            border-bottom 25px solid transparent
            border-right 25px solid white-color
            content: ''
            display block
            height 0
            position absolute
            width 0
            top 45px
            left 139px